/*Top Block - Red-Orange*/
.animateBlob1 {
  animation: blob1 20s infinite;
}

@keyframes blob1 {
  0%,
  100% {
    transform: none;
  }
  25% {
    transform: scale(1.1) translate(-200px, -150px);
  }
  50% {
    transform: scale(1.2) translate(-275px, -125px);
  }
  75% {
    transform: scale(1.1) translate(-275px, 100px);
  }
}

/*Second Block - Orange*/
.animateBlob2 {
  animation: blob2 20s infinite;
}

@keyframes blob2 {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale(0.5) translate(-100px, -150px);
  }
}

/*Third Block - White*/
.animateBlob3 {
  animation: blob3 30s infinite;
}

@keyframes blob3 {
  0%,
  100% {
    transform: none;
  }
  35% {
    transform: scale(0.7) translate(-10px, 0px);
  }

  65% {
    transform: scale(0.7) translate(-100px, 0px);
  }
}

/*Bottom Block - Blue*/
.animateBlob4 {
  animation: blob4 30s infinite;
}

@keyframes blob4 {
  0%,
  100% {
    transform: none;
  }
  35% {
    transform: scale(1) translate(-50px, 0px);
  }

  65% {
    transform: scale(1.05) translate(-75px, 30px);
  }
}

.animateIn {
  opacity: 0;
  animation: animateIn 600ms ease-in-out forwards 0.4s;
}

.animateIn:nth-child(2) {
  animation-delay: 0.5s;
}

.animateIn:nth-child(3) {
  animation-delay: 0.6s;
}

.animateIn:nth-child(4) {
  animation-delay: 0.7s;
}

@keyframes animateIn {
  0% {
    /* visibility: hidden; */
    opacity: 0;
    transform: translateY(20px);
    filter: blur(10px);
  }

  100% {
    /* visibility: visible; */
    opacity: 1;
    transform: none;
    filter: none;
  }
}
